body {
    background-color: #63e6a9;
    margin: 10% 20%;
    color: #80da19;
    font-family: Arial, "sans serif";
  }
  
  h1 { 
    padding-bottom: 5%;
    font-size: 40px;
    font-family: 'Fresca', sans-serif;
  }
  
  header {
    padding: 0;
    margin: 0 15%;
    color: #1b0312;
  }
  .CheckBox {
    padding: 10% ;
    margin: 5%;
    background-color: #107c41;
    text-align: center;
    border-radius: 20px;
  }
  
  input, 
  button {
    margin: 2%;
  }
  
  #rules {
    padding-top: 2%;
    display: none;
  }
  
  #rules ul li {
    text-align: left;
  }
  
  #error {
    color: red;
    display : none;
  }